<nz-page-header
    class="site-page-header"
    nzTitle="List Librarys"></nz-page-header>

<div class="search">
    <input nz-input placeholder="Enter name Library" type="text"
        [(ngModel)]="nameSearch" />

    <nz-select #changeCountry nzPlaceHolder="Select a Country"
        [(ngModel)]="searchCountry">
        <nz-option nzValue="null" nzLabel="All"></nz-option>
        <nz-option *ngFor="let country of listCountry"
            [nzValue]="country"
            [nzLabel]="country"></nz-option>
    </nz-select>

    <button nz-button nzType="primary" (click)="handleSearch()" ngSkipHydration>
        <span nz-icon nzType="search"></span>
        Search
    </button>
</div>

<nz-table #basicTable [nzData]="libraryData" ngSkipHydration [nzPageSize]="5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.address }}</td>
            <td style="display: flex; justify-content: space-evenly;">
                <button nz-button nzType="primary">View Detail</button>
                <button nz-button nzType="primary"
                    (click)="showModalUpdate(data.id)">Update</button>
                <button nz-button nzType="primary" nzDanger
                    (click)="showModalDelete(data.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</nz-table>

<!-- Modal Delete Library -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Delete Library"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOkDelete()"
    nzOkLoading="{{isLoading}}">
    <ng-container *nzModalContent>
        <h3>Are you sure you want to delete it?</h3>
    </ng-container>
</nz-modal>

<!-- Modal Update Lib -->
<nz-modal [(nzVisible)]="isVisibleUpdate" nzTitle="Delete Library"
    (nzOnCancel)="handleCancel()" (nzOnOk)="submitFormUpdate()"
    nzOkLoading="{{isLoading}}">
    <ng-container *nzModalContent>
        <form
            style="display: block;"
            nz-form
            [formGroup]="libGroup"
            [nzLayout]="'horizontal'">
            <nz-form-item>
                <nz-form-label>Name lib</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Name Library!">
                    <input nz-input formControlName="name"
                        style="width: 100%;"
                        placeholder="input placeholder" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Address</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Address!">
                    <input nz-input formControlName="address"
                        style="width: 100%;"
                        placeholder="input placeholder" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <img
                    nz-image
                    style="margin: auto; height: 100%;"
                    width="30%"
                    nzSrc="https://cdn.dribbble.com/users/415089/screenshots/14359065/media/27116bb90f0a1dddc03d10860a0fca01.jpg?resize=1200x900&vertical=center"
                    alt="imgage add Library" />
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>