[nz-carousel-content] {
    text-align: center;
    line-height: 160px;
    color: #fff;
    overflow: hidden;
  }

.slick-slide.slick-active.ng-star-inserted {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    margin: 20px 0;
}

.slider__img{
    position: relative;
}

.slider__img span {
    position: absolute;
    top: 50%;
    font-size: 24px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


